/*
 * Dynamic CSS contents that are mutable.
 */

@media (min-width: 1px) {
    body, html { background-color: #3b4b54; }
}
@media (min-width: 480px) {}
@media (min-width: 768px) {
    body, html { background-color: #92D050; }
}
@media (min-width: 1280px) {
    body, html { background-color: #185e12; }
}
@media (min-width: 1440px) {}
