@media (min-width: 1px) {
    body, html { background-color: #92D050; }
    .main-container{ position: relative; width: 100%; overflow: hidden; }
    .splash-container { position: relative; overflow: hidden; }
    .splash-image { position: relative; overflow: hidden; }
    .splash-details { position: absolute; top: 10px; left: 10px; }
    .splash-details-title { position: relative; overflow: hidden; font-weight: bolder; font-size: 14px; }
    .splash-details-desc { position: relative; overflow: hidden; font-style: italic; font-size: 10px; margin-bottom: 5px; }
    .navigation-container { position: relative; overflow: hidden; text-align: center; }
    .naivgation-list { position: relative; overflow: hidden; }
    .navigation-header { position: relative; overflow: hidden; font-weight: bolder; font-size: 20px; padding-top: 15px; padding-bottom: 15px; background-color: #31859c; }
    .navigation-option { position: relative; overflow: hidden; padding-top: 8px; padding-bottom: 12px; display: none; background-color: #fac090; }
    .navigation-option a { font-size: 14px; color: #ffffff; }
    .footer { position: absolute; overflow: hidden; width: 100%; bottom: 0px; left: 0px; text-align: center; }
    .footer-text { position: relative; overflow: hidden; font-size: 10px; }
    .footer-image { position: relative; }
    .footer-image img { height: 40px; }
}
@media (min-width: 480px) {}
@media (min-width: 768px) { body, html { background-color: #92D050; } }
@media (min-width: 1280px) { body, html { background-color: #185e12; } }
@media (min-width: 1440px) {}