/* 
 * Static CSS contents that are immutable.
 */

body,html {
    margin: 0; padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #00aed1;
}

a:hover {
    text-decoration: underline;
}

.newappIcon {
    padding-top: 10%;
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
    max-width:200px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

.leftHalf {
    float: left;
    background-color: #26343f;
    width: 45%;
    height: 100%;
}

.rightHalf {
    float: right;
    width: 55%;
    background-color: #313f4a;
    height: 100%;
    overflow:auto;
}

.description {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.2em;
}

.blue {
    color: #00aed1;
}

table {
    table-layout: fixed;
    width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
    padding-top:10%;
}

th {
    border-bottom: 1px solid #000;
}

th, td {
    text-align: left;
    padding: 2px 20px;
}

.env-var {
    text-align: right;
    border-right: 1px solid #000;
    width: 30%;
}

pre {
    padding: 0;
    margin: 0;
}

div.statements {
    position: absolute; 
    top: 5px; 
    left: 0; 
    width: 100%;
    color:white;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #31859c;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #fac090;
    display: none;
}

div.footer {
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h2.title {
    width: 100%;
    color: black;
    background-color: white;
    text-align: center
}

form#registration {
    color: black;
    background-color: white;
}

form#registration div#label_input label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}
form#registration div#label_input input {
  display: inline-block;
  float: left;
}